@import "../../Theme.scss";

.text-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 50px;

  .text-block {
    max-width: 500px;
  }
  @extend .font-package-body;
}

@media screen and (max-width: 900px) {
  .text-wrapper {
    gap: 40px;
    flex-direction: column;
    margin: 0 50px 0 50px;
  }
  .text-block {
    justify-content: center;
    margin: auto;
  }
}
