@import "../../Theme.scss";

.casecard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.casecard-images {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.casecard-content {
  width: 400px;
  text-align: left;
}

.casecard-images img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 15px 5px 15px;
  border: solid 7px rgb(8, 8, 8);
}

#light .casecard-images img {
  box-shadow: rgba(10, 10, 10, 0.8) 15px 5px 15px;
  border: solid 7px rgb(20, 20, 20);
}

#casecard-image-left {
  width: 210px;
  height: 380px;
  margin: 40px 0 0 0;
}
#casecard-image-right {
  width: 210px;
  height: 380px;
}

@media screen and (max-width: 900px) {
  .casecard-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
  }
  .casecard-content {
    padding: 30px;
  }
  .casecard-images {
    display: flex;
    justify-content: center;
  }

  #casecard-image-left {
    height: 260px;
    width: 150px;
  }
  #casecard-image-right {
    height: 260px;
    width: 150px;
  }
}
