@import "../../Theme.scss";

.card {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 700px;
  overflow-x: hidden;
}

.content {
  width: 550px;
  text-align: left;
  padding: 20px;
  opacity: 0;
  transform: translate(-90%);
  @extend .font-package-body;
}

.computer {
  background-color: rgb(2, 2, 2);
  box-shadow: 15px 10px 15px rgb(0, 0, 0);
  width: 400px;
  height: 250px;
  border: 3mm ridge rgba(22, 19, 19, 0.6);
  display: inline-block;
  transform: translate(90%);
}
#light .computer {
  border: 3mm ridge rgba(255, 255, 255, 0.6);
}

.typed-out {
  font-size: 0.3em;
  color: rgb(116, 211, 240);
  margin: 1rem;
  width: 80%;
}

.slide-active {
  opacity: 1;
  transform: translate(0%);
}

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-bottom: 50px;
    max-width: 300px;
  }
  .content {
    align-items: left;
    width: 300px;
  }
  .computer {
    width: 300px;
    height: 200px;
  }
}
