@import "../../Theme.scss";

.heading {
  position: relative;
  z-index: 2;
  @extend .font-package-heading;
}

@media screen and (max-width: 900px) {
  .heading {
    font-size: 46px;
  }
}

.heading2 {
  position: relative;
  z-index: 2;
  @extend .font-package-heading2;
}

@media screen and (max-width: 900px) {
  .heading2 {
    font-size: 48px;
  }
}
