// COLORS //

//Dark theme
$RichBlack: #0c0e13;
$RaisinBlack: #281b1c;
$TerraCotta: #e87258;
$White: #ffffff;

//Light theme
$QueenBlue: #4167a0;
$LightSkyBlue: #74cdff;

// TYPOGRAPHY //
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

//font size
$heading-1-font-size: 86px;
$heading-2-font-size: 64px;
$heading-3-font-size: 52px;
$body-font-size: 16px;
$caption-font-size: 16px;
$button-font-size: 14px;
//Mobile
$heading-1-font-size-mobile: 86px;
$heading-2-font-size-mobile: 64px;
$heading-3-font-size-mobile: 52px;
$body-font-size-mobile: 16px;
$caption-font-size-mobile: 16px;
$button-font-size-mobile: 12px;

//line height
$heading-1-line-height: 108px;
$heading-2-line-height: 80px;
$heading-3-line-height: 65px;
$body-line-height: 20px;
$caption-line-height: 20px;
$button-line-height: 16px;
//Mobile
$heading-1-line-height-mobile: 108px;
$heading-2-line-height-mobile: 80px;
$heading-3-line-height-mobile: 65px;
$body-line-height-mobile: 20px;
$caption-line-height-mobile: 20px;
$button-line-height-mobile: 14px;

//font weight
$heading-1-font-weight: 300;
$heading-2-font-weight: 100;
$heading-3-font-weight: 100;
$body-font-weight: 200;
$caption-font-weight: 400;
$button-font-weight: 200;
//Mobile
$heading-1-font-weight-mobile: 100;
$heading-2-font-weight-mobile: 100;
$heading-3-font-weight-mobile: 100;
$body-font-weight-mobile: 200;
$caption-font-weight-mobile: 400;
$button-font-weight-mobile: 200;

//letter spacing
$heading-1-letter-spacing: 0;
$heading-2-letter-spacing: 0;
$heading-3-letter-spacing: 0;
$body-letter-spacing: 1px;
$caption-letter-spacing: 0;
$button-letter-spacing: 4px;
//Mobile
$heading-1-letter-spacing-mobile: 0;
$heading-2-letter-spacing-mobile: 0;
$heading-3-letter-spacing-mobile: 0;
$body-letter-spacing-mobile: 1px;
$caption-letter-spacing-mobile: 0;
$button-letter-spacing-mobile: 6px;

// Font packages and color schemes

.font-package-button {
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  letter-spacing: $button-letter-spacing;
}

.font-package-body {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  letter-spacing: $body-letter-spacing;
}

.font-package-heading {
  font-size: $heading-1-font-size;
  font-weight: $heading-1-font-weight;
  line-height: $heading-1-line-height;
}

/////////////////////
///
///
html {
  scroll-behavior: smooth;
}
#root {
  --swiper-theme-color: white;
  --swiper-navigation-size: 44px;
  --swiper-navigation-font-weight: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
}

.App {
}

#dark {
  color: white;
  text-align: center;
  background: linear-gradient(
    59deg,
    rgb(3, 0, 14) 16%,
    rgb(5, 5, 5) 60%,
    rgb(5, 1, 12) 74%
  );
}

#light {
  color: black;
  min-height: 120vh;
  text-align: center;

  background: linear-gradient(
    59deg,
    rgb(183, 200, 250) 16%,
    rgb(226, 226, 226) 59%,
    rgb(206, 206, 250) 74%
  );
}

#light hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

#dark hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(247, 244, 244, 0.2),
    rgba(0, 0, 0, 0)
  );
}
.page-section-1 {
}

.page-section-2 {
}

.block-container {
}
.toggle-btn-div {
  width: 200px;
  height: 0px;
  margin: auto;
  position: relative;
  z-index: 3;
  top: 530px;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
#light a:visited {
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 900px) {
  #dark {
    color: white;
    min-height: 120vh;
    text-align: center;
    background: radial-gradient(rgb(29, 29, 29) 0%, rgb(0, 0, 0) 99.4%);
    // background: radial-gradient(
    //   circle farthest-corner at 300% -50%,
    //   #e87258,
    //   #8b4435,
    //   $RichBlack,
    //   $RichBlack,
    //   $RichBlack
    // );
  }

  #light {
    color: black;
    min-height: 120vh;
    text-align: center;

    background: radial-gradient(
      circle farthest-corner at 150% -50%,
      #6fb4c0,
      #3c8491,
      white,
      white,
      white
    );
  }
}

//ANIMATIONS
.slide-active {
  display: block;
  transition: 2s;
  transform: translate(0%);
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .toggle-btn-div {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  #light hr {
    margin: 100px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }

  #dark hr {
    margin: 100px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(247, 244, 244, 0.2),
      rgba(0, 0, 0, 0)
    );
  }
}
