@import "../../Theme.scss";

.nav-wrapper {
  display: flex;
  justify-content: center;
}
.nav {
  width: 80%;
  height: 50px;
  top: 50px;
  margin: auto;
  position: fixed;
  display: flex;
  border-radius: 15px;
  align-items: center;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(247, 244, 244, 0.2),
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
  transition: 2s;
  z-index: 20;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.active {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  transition: 2s;
  transform: translate(3%, -5%);
  width: 70%;
}

#ligth .active {
  background: rgba(146, 146, 146, 0.3);
  position: fixed;
  transition: 2s;
  transform: translate(3%, -5%);
  width: 70%;
}

.logo {
  margin-right: auto;
  height: 120px;
  width: 240px;
  background-image: url(../../assets/LogoDarktheme.png);
  background-size: contain;
  background-repeat: no-repeat;
  object-position: center;
  object-fit: contain;
}
#light .logo {
  margin-right: auto;
  height: 120px;
  width: 240px;
  background-image: url(../../assets/LogoLighttheme.png);
  background-size: contain;
  background-repeat: no-repeat;
  object-position: center;
  object-fit: contain;
}

.nav-btn {
  display: none;
}

.nav-buttons {
  display: flex;
  gap: 40px;
  align-items: center;
  filter: drop-shadow(0px 0px 3px #ffffff);
}

#light .nav-buttons {
  filter: drop-shadow(0px 0px 3px #000000);
}

.nav a {
  list-style: none;
  margin-right: 20px;
  @extend .font-package-button;
}

#light .nav {
  border-bottom: 1px solid transparent;

  border-image-slice: 1;
}

@media screen and (max-width: 600px) {
  .nav-wrapper {
    position: fixed;
    inset: 0 0 0 30%;
    height: 0;
    padding: 0;
    z-index: 4;
  }

  .nav {
    height: 100vh;
    width: 100%;
    top: 0;
    flex-direction: column;
    position: relative;
    transform: translateX(100%);
    transition: 1s;
    background: #070706;
  }
  #light .nav {
    background: rgba(255, 255, 255, 0.99);
  }
  .nav-toggle {
    transform: none;
  }
  .nav-open {
    transform: translateY(-200%);
    transition: 1s;
  }
  .logo {
    margin-right: auto;
    height: 80px;
    width: 90px;
    margin: 20px 0 30px 0;
  }

  #light .logo {
    height: 80px;
    width: 90px;
    margin: 40px 0 40px 0;
  }

  .nav-close-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 0;
    top: 2rem;
    right: 2rem;
    display: block;
    background: transparent;
    font-size: 1.8rem;
    color: white;
  }
  #light .nav-close-btn {
    color: black;
  }

  .nav-open-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 0;
    top: 2rem;
    right: 2rem;
    display: block;
    background: transparent;
    font-size: 1.8rem;
    color: white;
  }
  #light .nav-open-btn {
    color: black;
  }
  .nav-buttons {
    flex-direction: column;
    gap: 100px;
  }
}
