.background {
  z-index: -1;
  color: white;
  background: linear-gradient(
    59deg,
    rgb(3, 0, 14) 16%,
    rgb(5, 5, 5) 60%,
    rgb(5, 1, 12) 74%
  );
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

#light .background {
  background: linear-gradient(
    59deg,
    rgb(183, 200, 250) 16%,
    rgb(226, 226, 226) 59%,
    rgb(206, 206, 250) 74%
  );
}
