.background {
  color: white;
  // background: url(../../assets/bg-illu.png) no-repeat center, #070706;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
}

#bg1 {
  background: url(../../assets/bg-illu.png) no-repeat center, #070706;
  height: 100%;
}

#light #bg1 {
  background: url(../../assets/bg-illu-light.png) no-repeat center, #f8f8f9;
  height: 100%;
}

@media screen and (max-width: 600px) {
}
